<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ZianberdinGlazkiSaveEntities" connectionString="metadata=res://*/ZianberdinModel.csdl|res://*/ZianberdinModel.ssdl|res://*/ZianberdinModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STUD231-6\SQLEXPRESS;initial catalog=ZianberdinGlazkiSave;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>